html {
    scroll-behavior: smooth;
}

body {
    margin: auto;

    width: 100%;
    height: 100%;
}

main {
    display: flex;
    margin: auto;
    margin-left: 3vw;
    flex-direction: column;
}

nav {
    width: 3vw;
    height: 100%;

    background-color: #999999cc;

    transition: .5s;
    
    position: fixed;
}

.menuButton {
    float: right;
    width: fit-content;
    padding: 1vh;
    font-size: 3vw;
}

.menuOption {
    float: left;
    display: none;

    padding: 2vw 2vw 3vw 4vw;
}

.open {
    width: 25vw;
}

.open .menuOption {
    display: block;
}

@media screen and (max-width: 600px) {
    main {
        margin-left: 15vw;
    }

    nav {
        width: 15vw;
    }

    .open {
        width: 50vw;
    }

    .menuButton {
        width: fit-content;
        font-size: 15vw;
    }
}



.optionContainer {
    display: flex;
    flex-direction: row;
    overflow-x: auto;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/** Display Styles */

.display {
    padding: .5rem;
    text-align: center;

    border: 1px solid black;
    border-radius: 100%;

    width: 4em;
    height: 4em;
    margin: 2pt;

    box-shadow: 0 0 10px black;
    transition: all .2s;
}

.displayIcon {
    font-size: 2rem;
    margin: auto;
}

.displayName {
    font-size: 1rem;
    font-weight: bold;

    margin: auto;
}

.selected {
    box-shadow: none;
}

/** Timer Styles */

.timerContainer {
    display: flex;
    flex-direction: column;

    overflow-y: scroll;

    width: 100%;
}

.timer {
    display: flex;
    flex-direction: row;

    transition: all .2s;
}

.timer:hover {
    box-shadow: 0 0 10px black;
}

.timerText {
    flex-grow: 4;
    text-align: center;
    font-size: 4em;
    margin: auto;

    border: 1px solid black;
    border-radius: 20%;
}

.timerDisplay {
    flex-grow: 0;
}