html {
    scroll-behavior: smooth;
}

body {
    margin: auto;

    width: 100%;
    height: 100%;
}

main {
    display: flex;
    margin: auto;
    margin-left: 3vw;
    flex-direction: column;
}

nav {
    width: 3vw;
    height: 100%;

    background-color: #666666f5;

    transition: .5s;
    
    position: fixed;
}

.menuButton {
    float: right;
    width: fit-content;
    padding: 1vh;
    font-size: 3vw;
}

.menuOption {
    display: none;
    padding: 2vh 3vw 2vh 2vw;
    margin: 0%;

    font-size: xx-large;

    transition: .25s;

    text-decoration: none;
    color: black;
}

.menuOption:hover {
    box-shadow: 0 0 10px black;
}

.open {
    width: 25vw;
}

.open .menuOption {
    display: block;
}

@media screen and (max-width: 600px) {
    main {
        margin-left: 10vw;
    }

    nav {
        width: 10vw;
    }

    .open {
        width: 50vw;
    }

    .menuButton {
        width: fit-content;
        font-size: 10vw;
    }
}



.optionContainer {
    display: flex;
    flex-direction: row;
    padding: 1%;
    overflow-x: auto;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/** Display Styles */

.display {
    padding: .5rem;
    text-align: center;

    border: 1px solid black;
    border-radius: 100%;

    width: max-content;
    height: max-content;
    margin: 2pt;

    box-shadow: 0 0 10px black;
    transition: all .2s;
}

.displayIcon {
    font-size: 2rem;
    margin: auto;
}

.displayName {
    font-size: 1rem;
    font-weight: bold;

    margin: auto;
}

.selected {
    box-shadow: none;
}

/** Timer Styles */

.timerContainer {
    display: flex;
    flex-direction: column;

    overflow-y: scroll;

    width: 98%;
    padding: 1%;
}

.timer {
    display: flex;
    flex-direction: row;

    transition: all .2s;
}

.timer:hover {
    box-shadow: 0 0 10px black;
}

.timerText {
    flex-grow: 4;
    text-align: center;
    font-size: 4em;
    margin: auto;

    border: 1px solid black;
    border-radius: 20%;
}

.timerDisplay {
    flex-grow: 0;
}

/** Editor */
.editBg {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #00000077;
}

.edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: fit-content;
    height: fit-content;

    padding: 5%;

    background-color: #fffffff7;
    border-radius: 10%;
    box-shadow: 0 0 10px black;
}

form > * {
    font-size: larger;
    margin: .1em;
}

.hidden {
    display: none;
}